
    
body {
    margin: 0;
    display: flex;
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    margin-top:10%;      
}

.whitebox {
       
    width: 250px;
    height: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;  
}
.whitebox h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-left:25px;
    margin-right:25px;
}
.whitebox .scan {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align:center;
    margin-left:25px;
    margin-right:25px;
}
.whitebox img {
    width:90%;
    border-radius:5%;
    margin-left:13px;
    margin-top:13px;
    
}
.attribution { 
    margin-top: 10px;
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }